/* name colours */
#chat .chat-main .isOwner .username,
#chat .chat-main .isOwner .username:hover,
#chat .chat-main .isOwner .username:visited
{
    color: #01e1ff !important;
}

#chat .chat-main .isCo-owner .username,
#chat .chat-main .isCo-owner .username:hover,
#chat .chat-main .isCo-owner .username:visited
{
    color: #01e1ff !important;
}

#chat .chat-main .isManager .username,
#chat .chat-main .isManager .username:hover,
#chat .chat-main .isManager .username:visited
{
    color: #FFFFFF !important;
}

#chat .chat-main .isMod .username,
#chat .chat-main .isMod .username:hover,
#chat .chat-main .isMod .username:visited
{
    color: #FF3558 !important;
}
#chat .chat-main .isVip .username,
#chat .chat-main .isVip .username:hover,
#chat .chat-main .isVip .username:visited
{
    color: #29A3A3 !important;
}

#chat .chat-main .isResident-dj .username,
#chat .chat-main .isResident-dj .username:hover,
#chat .chat-main .isResident-dj .username:visited
{
    color: #4bb110 !important;
}

/* badges */
#chat .chat-main .isOwner .username::before
{
    content:       url(http://i.imgur.com/D3Pc0nL.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isCo-owner .username::before
{
    content:       url(http://i.imgur.com/D3Pc0nL.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isManager .username::before
{
    content:       url(http://i.imgur.com/lUjMtGm.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isMod .username::before
{
    content:       url(http://i.imgur.com/PTO7dwy.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
#chat .chat-main .isVip .username::before
{
    content:       url(http://i.imgur.com/ZgdR7JX.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isResident-dj .username::before
{
    content:       url(https://nightbloo.github.io/plug/icons/hohoho.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .user-5648bfed46ea3d1e009be722 .username::before
{
    content:       url(https://nightbloo.github.io/plug/icons/bot.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .user-560f0b496280680300ece34d .username::before{
    content:       url(http://i.imgur.com/CiOVTGG.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
#chat .chat-main .user-56005297239f1303009c88c5 .username{
    color: #4dc9ff !important;
}



/* Emote sizes */
#chat .twitch-emoji.emoji
{
    max-width:  none !important;
    max-height: 28px !important;
    width:      auto !important;
    height:     auto !important;
}

/* me command fix */
#chat .chat-container .chat-messages .chat-main li.system-error { text-transform: uppercase; }
#chat .chat-main li[class*='system']{
    color: darkturquoise !important;
    text-align: center;
    border-top: darkturquoise 1px solid !important;
    border-bottom: darkturquoise 1px solid !important;
}

#autocomplete-preview{
    z-index: 2;
}

@keyframes rainbowProg{
  from{
    background-position: 0px 0px
  }
  to{
    background-position: 800px 0px
  }
}
@keyframes rainbowVol{
  from{
    background-position: 0px 0px
  }
  to{
    background-position: 200px 0px
  }
}
  /* Constants */
#player-controller .infoContainerInner:after,
#player-controller .progressBg,
.ui-slider-range-min,
.ui-slider,
.playerPreview .loaded,
.playerPreview .progress{
  /* ! Duration for speed; Lower is faster */
  animation-duration: 5s !Important;
  animation-timing-function: linear !important;   /* <--+++++++++++++++++++++++++++ */
  animation-iteration-count: infinite !important; /* <--+                         + */
  background-repeat: repeat-x !Important;         /* <--+ Don't touch any of this + */
  background-attachment: fixed !Important;        /* <--+                         + */
  background-color: transparent !Important;       /* <--+++++++++++++++++++++++++++ */
}

/* Colours */
  /* Footer overlay */
#player-controller .infoContainerInner:after {
  z-index: 0; /* ! Don't touch this, explained at bottom */
  width: 100%;        /* <--+++++++++++++++++++++++++++++++++++++++++++++ */
  height: 5px;        /* <--+                                           + */
  content: '';        /* <--+   Don't touch any of this; These define   + */
  position: absolute; /* <--+ pseudochild size, position and visibility + */
  bottom: 0;          /* <--+                                           + */
  left: 0px;          /* <--+++++++++++++++++++++++++++++++++++++++++++++ */
}
  /* Volume slider */
.ui-slider-handle{
  background-color: #fff !Important;
}
  /* Rainbow gradients */
    /* Bright */
#player-controller .progressBg,
.ui-slider-range-min,
.playerPreview .progress{
  background-image: linear-gradient(to left,
                                    rgb(255, 0, 0) 0%,
                                    rgb(255, 128, 0) 8.34%,
                                    rgb(255, 255, 0) 16.67%,
                                    rgb(128, 255, 0) 25%,
                                    rgb(0, 255, 0) 33.34%,
                                    rgb(0, 255, 128) 41.67%,
                                    rgb(0, 255, 255) 50%,
                                    rgb(0, 128, 255) 58.33%,
                                    rgb(0, 0, 255) 66.67%,
                                    rgb(128, 0, 255) 75%,
                                    rgb(255, 0, 255) 83.33%,
                                    rgb(255, 0, 128) 91.67%,
                                    rgb(255, 0, 0) 100%) !Important;
}
    /* Dark */
#player-controller .infoContainerInner:after,
.ui-slider,
.playerPreview .loaded{
  background-image: linear-gradient(to left,
                                    rgb(47, 0, 0) 0%,
                                    rgb(47, 23, 0) 8.34%,
                                    rgb(47, 47, 0) 16.67%,
                                    rgb(23, 47, 0) 25%,
                                    rgb(0, 47, 0) 33.34%,
                                    rgb(0, 47, 23) 41.67%,
                                    rgb(0, 47, 47) 50%,
                                    rgb(0, 23, 47) 58.33%,
                                    rgb(0, 0, 47) 66.67%,
                                    rgb(23, 0, 47) 75%,
                                    rgb(47, 0, 47) 83.33%,
                                    rgb(47, 0, 23) 91.67%,
                                    rgb(47, 0, 0) 100%) !Important;
}

/* Animation size and type */
  /* Progress bars */
#player-controller .left,
#player-controller .infoContainerInner:after,
#player-controller .progressBg,
.playerPreview .loaded,
.playerPreview .progress{
  background-size: 800px 100% !Important;
  animation-name: rainbowProg !Important;
}
  /* Volume */
.ui-slider-range-min,
.ui-slider{
  background-size: 200px 100% !Important;
  animation-name: rainbowVol !Important;
}

/* Opacity for player preview */
.playerPreview .loaded{
  opacity: 1 !Important;
}

/* ! Don't touch this; it places footer content
     above the "Footer overlay" pseudochild */
#player-controller *{
  z-index: 1 !Important;
}
