/* name colours */
#chat .chat-main .isOwner .username,
#chat .chat-main .isOwner .username:hover,
#chat .chat-main .isOwner .username:visited
{
    color: #01e1ff !important;
}

#chat .chat-main .isCo-owner .username,
#chat .chat-main .isCo-owner .username:hover,
#chat .chat-main .isCo-owner .username:visited
{
    color: #01e1ff !important;
}

#chat .chat-main .isManager .username,
#chat .chat-main .isManager .username:hover,
#chat .chat-main .isManager .username:visited
{
    color: #FFFFFF !important;
}

#chat .chat-main .isMod .username,
#chat .chat-main .isMod .username:hover,
#chat .chat-main .isMod .username:visited
{
    color: #FF3558 !important;
}
#chat .chat-main .isVip .username,
#chat .chat-main .isVip .username:hover,
#chat .chat-main .isVip .username:visited
{
    color: #29A3A3 !important;
}

#chat .chat-main .isResident-dj .username,
#chat .chat-main .isResident-dj .username:hover,
#chat .chat-main .isResident-dj .username:visited
{
    color: #4bb110 !important;
}

/* badges */
#chat .chat-main .isOwner .username::before
{
    content:       url(http://i.imgur.com/D3Pc0nL.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isCo-owner .username::before
{
    content:       url(http://i.imgur.com/D3Pc0nL.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isManager .username::before
{
    content:       url(http://i.imgur.com/lUjMtGm.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isMod .username::before
{
    content:       url(http://i.imgur.com/PTO7dwy.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
#chat .chat-main .isVip .username::before
{
    content:       url(http://i.imgur.com/ZgdR7JX.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isResident-dj .username::before
{
    content:       url(https://nightbloo.github.io/plug/icons/hohoho.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .user-56730d3635151e2d00b16735 .username::before{
    content:       url(http://i.imgur.com/DLv2PaC.gif);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
#chat .chat-main .user-56005297239f1303009c88c5 .username{
    color: #4dc9ff !important;
}



/* Emote sizes */
#chat .twitch-emoji.emoji
{
    max-width:  none !important;
    max-height: 28px !important;
    width:      auto !important;
    height:     auto !important;
}

/* me command fix */
#chat .chat-container .chat-messages .chat-main li.system-error { text-transform: uppercase; }
#chat .chat-main li[class*='system']{
    color: darkturquoise !important;
    text-align: center;
    border-top: darkturquoise 1px solid !important;
    border-bottom: darkturquoise 1px solid !important;
}

#autocomplete-preview{
    z-index: 2;
}
